menu "stm32h723 config"
    config RC_UART
        string "RC UART"
        default "huart5"

    config HCAN1
        string "fdcan1"
        default "hfdcan1"

    config HCAN2
        string "fdcan2"
        default "hfdcan2"

    config HCAN3
        string "fdcan3"
        default "hfdcan3"

    config REFEREE_UART
        string "referee uart device"
        default "huart1"
        depends on USE_REFEREE

    config VOFA_UART
        string "VOFA uart device"
        default "huart7"
        depends on USE_VOFA

    config VT_UART
        string "vt uart device"
        default "huart10"
        depends on USE_VT

    config IMU_SPI
        string "imu spi device"
        default "hspi2"
        depends on USE_IMU

    config WS2812_SPI
        string "ws2812 spi device"
        default "hspi6"
        depends on USE_WS2812

    config BEEP_TIMER
        string "beep timer"
        default "htim12"
        depends on USE_BEEP

    config BEEP_TIM_CHANNEL
        string "beep timer channel"
        default "TIM_CHANNEL_2"
        depends on USE_BEEP

    config USE_HAL_LIB
        bool "Enable HAL Library"
        default y

endmenu
