menu "stm32f407 config"
    config REFEREE_UART
        string "referee uart device"
        default "huart1"
        depends on USE_REFEREE

    config RC_UART
        string "RC UART"
        default "huart3"

    config HCAN1
        string "can1"
        default "hcan1"

    config HCAN2
        string "can2"
        default "hcan2"

    config BEEP_TIMER
        string "beep timer"
        default "htim4"

    config BEEP_TIM_CHANNEL
        string "beep timer channel"
        default "TIM_CHANNEL_3"

    config USE_HAL_LIB
        bool "Enable HAL Library"
        default y

endmenu

