menu "app config"

    config APP_USE_CHASSIS
    bool "chassis"
    default y

    source "Src/App/RobotModules/Chassis/Kconfig"

    config APP_USE_GIMBAL
    bool "gimbal"
    default n

    source "Src/App/RobotModules/Gimbal/Kconfig"

    config APP_USE_TEST
    bool "test modules"
    default n

    config APP_USE_UI
    bool "UI"
    default n

    source "Src/App/UI/Kconfig"

    config APP_USE_INS
    bool "ins"
    default n

    source "Src/System/INS/Kconfig"

    config APP_USE_DAEMONS
    bool "daemons"
    default n

    config APP_USE_COMM
    bool "muti communication"
    default n

    source "Src/System/Comm/Kconfig"

    config USE_VSCODE_XRTOS
    bool "vscode plugin: freertos task analyze"
    default n

endmenu
