menu "gimbal config"
    depends on APP_USE_GIMBAL

    choice

        prompt "gimbal type"
        default APP_USE_STANDARD

        config APP_USE_STANDARD
            bool "standard"
        config APP_USE_STACKED
            bool "stacked"

    endchoice

    config GIMBAL_TYPE
        string
        default "Standard" if APP_USE_STANDARD
        default "Stacked"  if APP_USE_STACHED

    config GIMBAL_FILE
        string
        default '"Standard.hpp"' if APP_USE_MECANUM
        default '"Stacked.hpp"'  if APP_USE_STACHED

endmenu
