menu "chassis config"
    depends on APP_USE_CHASSIS

    choice

        prompt "chassis type"
        default APP_USE_MECANUM

        config APP_USE_MECANUM
            bool "mecanum"
        config APP_USE_OMNI
            bool "omni"
        config APP_USE_BIPEDAL
            bool "bipedal"
        config APP_USE_SWERVE
            bool "swerve"

    endchoice

    config CHASSIS_TYPE
        string
        default "Mecanum" if APP_USE_MECANUM
        default "Omni"    if APP_USE_OMNI
        default "Bipedal" if APP_USE_BIPEDAL
        default "Swerve"  if APP_USE_SWERVE

    config CHASSIS_FILE
        string
        default '"Mecanum.hpp"' if APP_USE_MECANUM
        default '"Omni.hpp"'    if APP_USE_OMNI
        default '"Bipedal.hpp"' if APP_USE_BIPEDAL
        default '"Swerve.hpp"'  if APP_USE_SWERVE

    config APP_USE_POWERCTRL
    bool "power control"
    default n

    config APP_USE_ODOMETER
    bool "odometer"
    default n

endmenu
