menu "Soc config"
    choice
        prompt "Soc target choice"
        default TARGET_STM32F407

        config TARGET_STM32F407
        bool "STM32F407"

        config TARGET_STM32H723
        bool "STM32H723"

    endchoice

    config USE_HAL_LIB
        bool "Enable HAL Library"
        default y
endmenu

